.ecommerce-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
}

section{
    margin-bottom: 48px;

}

.benefits-section {
    margin: 48px 0;
}

.benefits-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 24px;
    padding: 0 16px;
}

.benefit-card{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 12px;
    background-color: var(--mat-sys-surface-container-lowest);
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.benefit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .benefit-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--mat-sys-primary-container);
    margin-right: 16px;
  }
  
  .benefit-icon mat-icon {
    font-size: 28px;
    width: 28px;
    height: 28px;
    color: var(--mat-sys-on-primary-container);
  }
  
  .benefit-content {
    flex: 1;
    text-align: center;
  }
  
  .benefit-content mat-card-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--mat-sys-on-surface);
    margin: 0 0 8px 0;
  }
  
  .benefit-content mat-card-subtitle {
    font-size: 14px;
    color: var(--mat-sys-on-surface-variant);
    margin: 0;
    line-height: 1.4;
  }

  
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}
