<div class="ecommerce-container">

  <app-slider-image/>
  
  <section class="benefits-section">
    <div class="benefits-container">
      <mat-card class="benefit-card">
        <div class="benefit-icon">
          <mat-icon>local_shipping</mat-icon>
        </div>
        <div class="benefit-content">
          <mat-card-title>ENTREGA RÁPIDA</mat-card-title>
          <mat-card-subtitle>Delivery em até 24/H</mat-card-subtitle>
        </div>
      </mat-card>

      <mat-card class="benefit-card">
        <div class="benefit-icon">
          <mat-icon>assured_workload</mat-icon>
        </div>
        <div class="benefit-content">
          <mat-card-title>ESTORNO</mat-card-title>
          <mat-card-subtitle>100% de estorno garantido</mat-card-subtitle>
        </div>
      </mat-card>

      <mat-card class="benefit-card">
        <div class="benefit-icon">
          <mat-icon>credit_card</mat-icon>
        </div>
        <div class="benefit-content">
          <mat-card-title>PAGAMENTO SEGURO</mat-card-title>
          <mat-card-subtitle>Seu dinheiro está seguro</mat-card-subtitle>
        </div>
      </mat-card>

      <mat-card class="benefit-card">
        <div class="benefit-icon">
          <mat-icon>support_agent</mat-icon>
        </div>
        <div class="benefit-content">
          <mat-card-title>SUPORTE 24/7</mat-card-title>
          <mat-card-subtitle>Contato quando precisar</mat-card-subtitle>
        </div>
      </mat-card>
    </div>
  </section>

  <app-processador-card-list/>

  <app-intel-amd/>

  <app-faq/>
</div>
