<mat-drawer-container class="container">
  <mat-drawer #drawer mode="over">
    <mat-toolbar class="menu-toolbar">
      <span>Menu</span>
    </mat-toolbar>
    <mat-nav-list class="menu-list">
      @for (item of navData; track $index) {
        <mat-list-item routerLink="{{item.routeLink}}" (click)="drawer.close()" class="menu-item">{{item.label}}</mat-list-item>
      }
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
