/* Estilos para o container principal */
.page-container {
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .page-header {
    margin-bottom: 24px;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    gap: 16px;
  }
  
  .title-container mat-icon {
    color: var(--mat-sys-primary);
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
  
  .title-container h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin: 0;
    color: var(--mat-sys-primary);
  }
  
  
  
  /* Estilos para o formulário */
  form {
    background-color: var(--mat-sys-surface-container-lowest);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-content {
    padding: 24px;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;
  }

  .form-field mat-icon[matPrefix] {
    color: var(--mat-sys-primary);
    margin-right: 8px;
    margin-left: 4px;
  }
  
  
  .form-field mat-icon {
    color: var(--mat-sys-primary);
    margin-right: 16px;
  }
  
  .form-field mat-form-field {
    width: 100%;
  }
  
  /* Estilos para os botões de ação */
  .form-actions {
    padding: 16px 24px 24px;
    background-color: var(--mat-sys-surface-container);
    border-top: 1px solid var(--mat-sys-outline-variant);
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .save-button {
    min-width: 150px;
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }

  .form-redirect{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: var(--mat-sys-primary);
  }

  .login{
    text-decoration: underline;
    cursor: pointer;
  }

  .form-field[formGroupName="telefone"] {
  display: flex; 
  gap: 8px; 
  width: 100%; 
}

.form-field.codigoArea {
  flex-grow: 0; 
  max-width: 150px;
}

.form-field.numero {
  flex-grow: 1; 
}

 
  /* Responsividade */
  @media (max-width: 768px) {
    .page-container {
      padding: 16px;
    }
  
    .form-content {
      padding: 16px;
    }
  
    .form-actions {
      padding: 16px;
    }
  
    .action-buttons {
      flex-wrap: wrap;
  
      button {
        flex: 1 0 auto;
        min-width: 0;
      }
    }
  }
  
  @media (max-width: 480px) {
    .title-container {
      flex-direction: column;
      text-align: center;
    }
  
    .title-container h1 {
      font-size: 24px;
    }
  
    .form-field {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .form-field mat-icon {
      margin-right: 0;
      margin-bottom: 8px;
    }
  }
  