<h1>Cadastro de Lote</h1>

<mat-card>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Código</mat-label>
        <input
          matInput
          type="text"
          formControlName="codigo"
          placeholder="Código do lote"
        />
        @if (formGroup.get('codigo')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="formGroup.get('codigo')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
        <mat-error
          *ngIf="
            formGroup.get('codigo')?.touched &&
            formGroup.get('codigo')?.errors
          "
        >
        {{ getErrorMessage("codigo", formGroup.get("codigo")?.errors) }}

        @if(formGroup.get('codigo')?.hasError('apiError')) {
        <span>{{ formGroup.get("codigo")?.getError("apiError") }}</span>
        }

        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Estoque</mat-label>
        <input
          matInput
          type="text"
          formControlName="estoque"
          placeholder="Estoque do lote"
        />
        @if (formGroup.get('estoque')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="formGroup.get('estoque')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
        <mat-error
          *ngIf="
            formGroup.get('estoque')?.touched &&
            formGroup.get('estoque')?.errors
          "
        >
        {{ getErrorMessage("estoque", formGroup.get("estoque")?.errors) }}

        @if(formGroup.get('estoque')?.hasError('apiError')) {
        <span>{{ formGroup.get("estoque")?.getError("apiError") }}</span>
        }

        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-label>Data do lote</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="data" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
        *ngIf="
          formGroup.get('data')?.errors &&
          formGroup.get('data')?.touched
        "
      >
      {{ getErrorMessage("data", formGroup.get("data")?.errors) }}

      @if(formGroup.get('data')?.hasError('apiError')) {
      <span>{{ formGroup.get("data")?.getError("apiError") }}</span>
      }
      </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-select
          formControlName="processador"
          placeholder="Processador"
          id="processador_id"
        >
          @for (processador of processadores; track processador.id) {
          <mat-option [value]="processador">
            {{ processador.nome }}
          </mat-option>
          }
        </mat-select>
        <mat-error
        *ngIf="
          formGroup.get('processador')?.errors &&
          formGroup.get('processador')?.touched
        "
      >
      {{ getErrorMessage("processador", formGroup.get("processador")?.errors) }}

      @if(formGroup.get('processador')?.hasError('apiError')) {
      <span>{{ formGroup.get("processador")?.getError("apiError") }}</span>
      }
      </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input" appearance="outline">
        <mat-select
          formControlName="fornecedor"
          placeholder="Fornecedor"
          id="fornecedor_id"
        >
          @for (fornecedor of fornecedores; track fornecedor.id) {
          <mat-option [value]="fornecedor">
            {{ fornecedor.nome }}
          </mat-option>
          }
        </mat-select>
        <mat-error
        *ngIf="
          formGroup.get('fornecedor')?.errors &&
          formGroup.get('fornecedor')?.touched
        "
      >
      {{ getErrorMessage("fornecedor", formGroup.get("fornecedor")?.errors) }}

      @if(formGroup.get('fornecedor')?.hasError('apiError')) {
      <span>{{ formGroup.get("fornecedor")?.getError("apiError") }}</span>
      }
      </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button routerLink="/admin/lotes">CANCELAR</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="salvar()"
    >
      SALVAR
    </button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="formGroup.get('id')?.value === null"
      (click)="excluir()"
    >
      EXCLUIR
    </button>
  </mat-card-actions>
</mat-card>
