<h1>Cadastro de Estado</h1>

<mat-card>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          formControlName="nome"
          placeholder="Nome do estado"
          [value]="formGroup.get('nome')?.value | titlecase"
        />
        @if (formGroup.get('nome')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="formGroup.get('nome')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
        <mat-error
          *ngIf="
            formGroup.get('nome') &&
            formGroup.get('nome')?.invalid &&
            formGroup.get('nome')?.touched
          "
        >
          O nome é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Sigla</mat-label>
        <input
          matInput
          type="text"
          formControlName="sigla"
          placeholder="Sigla do estado"
          [value]="formGroup.get('sigla')?.value | uppercase"
        />
        @if (formGroup.get('sigla')?.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="formGroup.get('sigla')?.setValue('')"
        >
          <mat-icon>close</mat-icon>
        </button>
        }
        <mat-error
          *ngIf="
            formGroup.get('sigla')?.touched &&
            formGroup.get('sigla')?.hasError('required')
          "
        >
          A sigla é obrigatória
        </mat-error>
        <mat-error
          *ngIf="
            formGroup.get('sigla')?.touched &&
            formGroup.get('sigla')?.hasError('minlength')
          "
        >
          A sigla deve ter no mínimo 2 caracteres
        </mat-error>
        <mat-error
          *ngIf="
            formGroup.get('sigla')?.touched &&
            formGroup.get('sigla')?.hasError('maxlength')
          "
        >
          A sigla deve ter no máximo 2 caracteres
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button routerLink="/estados">CANCELAR</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="salvar()"
      [disabled]="formGroup.invalid"
    >
      SALVAR
    </button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="formGroup.invalid"
      (click)="excluir()"
    >
      EXCLUIR
    </button>
  </mat-card-actions>
</mat-card>
