h1 {
  text-align: center;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  align-items: center;
  gap: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}


.input-container{
  display: flex;
  flex-direction: column;
  width: 30%;
}


mat-card-actions{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

mat-icon{
  text-align: center;
}
