<swiper-container
  slides-per-view="1"
  space-between="10"
  navigation="true"
  pagination="true"
  autoplay='{"delay": 5000}'
  loop="true"
  style="width: 100%; height: 300px; margin-top: 2em;"
>
  <swiper-slide>
    <img 
      src="https://themes.kabum.com.br/conteudo/layout/6282/1744922107.png" 
      alt="Processador em destaque - IronDragon" 
      style="width: 100%; height: 100%; object-fit: cover;" 
    />
  </swiper-slide>

  <swiper-slide>
    <img 
      src="https://themes.kabum.com.br/conteudo/layout/6072/1741776818.png" 
      alt="Processador de alta performance - IronDragon" 
      style="width: 100%; height: 100%; object-fit: cover;" 
    />
  </swiper-slide>

  <swiper-slide>
    <img 
      src="https://themes.kabum.com.br/conteudo/layout/6167/1743712227.png" 
      alt="Tecnologia de ponta em processadores - IronDragon" 
      style="width: 100%; height: 100%; object-fit: cover;" 
    />
  </swiper-slide>
</swiper-container>
