@if (cidades.length > 0) {
<div class="header">
  <h1 class="title">Cidades</h1>
  <button class="btn" routerLink="create">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="container">
  <div class="content">
    <div class="mat-elevation-z8 full-screen ">
      <table mat-table [dataSource]="dataSource" class="full-table table-background">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let cidade"> {{cidade.id}} </td>
        </ng-container>


        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let cidade"> {{cidade.nome}} </td>
        </ng-container>


        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Sigla </th>
          <td mat-cell *matCellDef="let cidade"> {{cidade.estado.sigla}} </td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let cidade">
            <div class="action-buttons">
              <button mat-icon-button color="primary edit" routerLink="edit/{{ cidade.id }}">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn delete">
                <mat-icon (click)="onDeleteCidade(cidade)">delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[2, 4, 8, 16]" [pageSize]="pageSize" [length]="totalRecords"
                (page)="pagination($event)">
      </mat-paginator>
    </div>
  </div>
</div>

} @else {
<h1 class="title">Cidades não encontradas</h1>
}