<p>Algun slider com os produtos mais fodas</p>

<div class="container">
  <div>
    <mat-card>
      <mat-icon> local_shipping </mat-icon>
      <div>
        <mat-card-title>ENTREGA RÁPIDA</mat-card-title>
        <mat-card-subtitle>Delivery em até 24/H</mat-card-subtitle>
      </div>
    </mat-card>
  </div>

  <mat-card>
    <mat-icon>trophy</mat-icon>
    <div>
      <mat-card-title>ESTORNO</mat-card-title>
      <mat-card-subtitle>100% de estorno garantido</mat-card-subtitle>
    </div>
  </mat-card>

  <mat-card>
    <mat-icon> credit_card </mat-icon>
    <div>
      <mat-card-title>PAGAMENTO SEGURO </mat-card-title>
      <mat-card-subtitle>Seu dinheiro está seguro</mat-card-subtitle>
    </div>
  </mat-card>

  <mat-card>
    <mat-icon> support_agent </mat-icon>
    <div>
      <mat-card-title>SUPORTE 24/7</mat-card-title>
      <mat-card-subtitle>Contato quando precisar</mat-card-subtitle>
    </div>
  </mat-card>
</div>

<h3>Nossos produtos</h3>

<div class="container">
  @for (produto of processadores; track $index) {
  <mat-card appearance="outlined">
    <mat-card-header>
      {{ produto.fabricante.nome }} {{ produto.nome }}
    </mat-card-header>

    <img
      mat-card-lg-image
      src="https://m.media-amazon.com/images/I/51D3DrDmwkL._AC_SL1000_.jpg"
      alt="Foto do produto"
    />

    <mat-card-content>
      <mat-card-title>
        {{ produto.fabricante.nome }} {{ produto.nome }},
        {{ produto.frequencia.clockBasico }} , Cache
        {{ produto.memoriaCache.cacheL2 }} MB, {{ produto.nucleos }} Núcleos,
        {{ produto.threads }} Threads,
        {{ produto.socket }}
      </mat-card-title>

      <mat-card-subtitle>R${{ produto.preco }}</mat-card-subtitle>
    </mat-card-content>

    <mat-card-actions>
      <button>
        <mat-icon>shopping_cart</mat-icon>
        COMPRAR
      </button>
    </mat-card-actions>
  </mat-card>
  }
</div>
