<div class="not-found-container">
    <mat-card>
      <mat-card-title class="not-found-title">404</mat-card-title>
      <mat-card-subtitle class="not-found-subtitle">Página não encontrada</mat-card-subtitle>
      <mat-card-content>
        <p class="not-found-message">
          A página que você tentou acessar não existe ou foi movida.
          Por favor, verifique a URL ou volte para a página inicial.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn" mat-raised-button color="primary" routerLink="/">Voltar para a página inicial</button>
      </mat-card-actions>
    </mat-card>
  </div>