/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Remove o fundo cinza da snackbar */
.mat-mdc-snack-bar-container {
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    min-width: auto !important;
  }
  
  /* Remove o fundo interno da snackbar */
  .mdc-snackbar__surface {
    background: transparent !important;
    box-shadow: none !important;
  }


mat-drawer-content {
  overflow-x: hidden !important;
  /* previne scroll horizontal / overflow */
  width: 100%;
  /* limita a largura ao container pai */
  box-sizing: border-box;
  /* pra incluir padding/borda no cálculo */
}


mat-drawer-container {
  height: auto !important;
  min-height: 100vh;
  /* para ocupar tela toda, mas crescer se precisar */
}
  