<h1>Cadastro de Fornecedor</h1>

<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input
        matInput
        type="text"
        formControlName="nome"
        placeholder="Nome do fornecedor"
      />
      <mat-error
        *ngIf="
          formGroup.get('nome') &&
          formGroup.get('nome')?.invalid &&
          formGroup.get('nome')?.touched
        "
      >
        O nome é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        placeholder="Email do fornecedor"
      />
      <mat-error
        *ngIf="
          formGroup.get('email') &&
          formGroup.get('email')?.invalid &&
          formGroup.get('email')?.touched
        "
      >
        O email é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Código Área</mat-label>
        <input
          matInput
          type="text"
          formControlName="codigoArea"
          placeholder="Código área do telefone do fornecedor"
        />
        <mat-error
          *ngIf="
            formGroup.get('codigoArea') &&
            formGroup.get('codigoArea')?.invalid &&
            formGroup.get('codigoArea')?.touched
          "
        >
          O código de área é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Número</mat-label>
        <input
          matInput
          type="text"
          formControlName="numero"
          placeholder="Numero do fornecedor"
        />
        <mat-error
          *ngIf="
            formGroup.get('numero') &&
            formGroup.get('numero')?.invalid &&
            formGroup.get('numero')?.touched
          "
        >
          O número é obrigatório
        </mat-error>
        <mat-error>
          
        </mat-error>
      </mat-form-field>

    <button class="submitEstado" type="submit">Adicionar fornecedor</button>
  </form>
</div>
