h1 {
  text-align: center;
  font-weight: 400;
}

.input-container {
  display: flex;
  flex-direction: column;
  width:100%;
}

.submit {
  background: #f86f03;
  border-radius: 5px;
  font-size: large;
  text-transform: uppercase;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 30%;
}

.telefone-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.codigoArea {
  width: 40%;
}

.numero {
  width: 80%;
}

.snack-bar-success {
  background-color: green;
  color: white;
}


/* Remove o fundo cinza do snackbar */
.custom-snackbar {
  background: transparent !important;
  box-shadow: none !important;
}

mat-card {
  margin: 2rem auto;
  max-width: 800px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}