@if (estados.length > 0) {
<h1 class="title">Estados</h1>
<div class="container">
  <div class="content">
    <div class="mat-elevation-z8 full-screen ">
      <table mat-table [dataSource]="dataSource" class="full-table table-background">


        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let estado"> {{estado.id}} </td>
        </ng-container>


        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let estado"> {{estado.nome}} </td>
        </ng-container>


        <ng-container matColumnDef="sigla">
          <th mat-header-cell *matHeaderCellDef> Sigla </th>
          <td mat-cell *matCellDef="let estado"> {{estado.sigla}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator class="table-background" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
        aria-label="Selecione uma página de estados">
      </mat-paginator>
    </div>
  </div>
</div>

} @else {
<h1 class="title">Estados não encontrado</h1>
}